<div class="header">

    <div class ="landing_intro">
        <p class="version">Version zero</p>
        <h1 style="font-weight: 500;">Online Shopping Demo Application <br> All you need in one place</h1>
        <p class="intro_sub">Welcome to our Online Shopping Demo Application - Your Ultimate Shopping Destination! Explore Deals and Discounts on a Wide Range of Products, Enjoy Convenient Shopping, and Discover the Joy of Finding the Perfect Items for You
        </p>

        <div class="registration_btns">
       <button (click) ="navigateSignInDisplay()"   mat-raised-button color="primary" class="in">Sign In</button>
        
        <button (click) ="navigateSignUpDisplay()" mat-stroked-button color="primary" class="up">Sign up</button>
    </div>
</div>

<img
class = "landing_img"
    src="assets/images/landing_page.png"/>
 
</div>
