.products_display{
padding-left: 80px;


.pd_table{
    margin-top: 30px; margin-bottom
    : 30px;
    width: 90%;

    .pd_title{
        color: #673AB7;
        font-size: 17px;
        font-weight: 500;
        
    }
}
}

.addButton{
    padding-right: 70px;
    padding-left: 70px;
}

