.up_display{
    display: flex;
    padding-top: 20px;
     justify-content: space-between;
    .content{
        padding-left: 100px;
        padding-top: 150px;
        .member{
            padding-left: 3px;
            color: #C4C5CA;
        font-size: 16px;
    
        }
    }
    .up_image{
        
        padding-top: 30px;
        padding-right: 150px;
        height: 550px;
    }
    .field {
    width: 535px;
    }
    .sign_in_btn{
        width: 320px;border-radius: 50px;
        height: 
        45px;
        font-size: 16px;
    }
    .cancel{
        margin-left: 20px;
         border-radius: 50px; 
        width: 200px;
        height: 43px;
        font-size: 16px;
      }
 }