

.dashboard-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top : 20px;
  padding-bottom : 20px;
  display: flex;
  height: 675px;
  background-color: #FAFAFA;
  
  .side_bar{
    margin-right: 50px;
    width : 23%;
    .side_bar_title{
      display: flex;
      
      .home_icon{
        width: 40px;
        height: 40px;
       
       
      }

   
    }

    .side_bar_btns{
      text-align: start;
      color:     #37474F;
      justify-content: center;
      border-color: transparent;
      background-color: transparent;
      height : 43px;
      width: 100%;  
      font-size: 16px;
      margin-top : 20px ;
      border-radius:25px;
    }

    .side_bar_btns_checked{
      text-align: start;
      border-color: transparent;
      background-color:  #BE63F9;
      font-size: 16px;
      color: white;
      height : 43px;
      width: 100%;
      border-radius: 10px;
      margin-top : 20px ;
    }


    .sign_out_btn{
      text-align: start;
     padding: 0px;
      font-size: 16px;
      color:  #BE63F9;
      height : 43px;
      width: 100%;
      border-radius: 10px;
      margin-top : 350px ;
    } 
   }
  .main_bar{
    width : 77%;
     .upper_side{
        display : flex ;
        height: 40px;
        justify-content: space-between;
  }
  .main_content{
    height: 89%;
     margin-top: 20px ;
    }
  }
 



  .home_title{
    text-align: justify;
    margin-top: 5px;
    color  : #BE63F9;
    font-size : 23px;
    font-weight: 400;
    margin-left: 27px;
  }

  .fullName{
    text-align: justify;
    margin-top: 5px;
    color  :    #37474F;;
    font-size : 19px;
    font-weight: 400;
    margin-left: 27px;
  }
}






.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}