.dlog_title{
    color: #7E57C2;
    text-align: center;
}
    .cancel{
       
         border-radius: 50px; 
        width: 300px;
        height: 43px;
        font-size: 16px;
        background-color: #7E57C2;
        color: #ffffff;
        margin-left: 90px;
      }