.dlog_title{
color: #B690F4;

}
.cancel{
    margin-left: 20px;
     border-radius: 50px; 
    width: 300px;
    height: 43px;
    font-size: 16px;
    background-color: #B690F4;
    color: #ffffff;
    margin-left: 40px;
  }