<div class="user_display">
    <div class="personal_info">
            <h1 class="title">Personal Information</h1>

            <div class ="personal_info_content">
            <div class="info_line"> 

                <h2 class="info_name">Email Address</h2>
                <h2 class="info_value"> Alicent@gmail.com</h2>
            </div>
            <div class="info_line">
                <h2 class="info_name">User Name</h2>
                <h2 class="info_value"> Alicent Montgammary</h2>

            </div>
            </div>
        </div>     


     <div class="payment_history">
        <h1 class="title">Payment History</h1>
        <app-payment-item></app-payment-item>
    
      
     </div>   
    
 

</div>