<div class="that_line">
    
     <mat-icon class ="profile_icon"> person
        
    </mat-icon>
    <button mat-button  class="profile_title" (click)="goToProfile()"color="primary">Profile</button>
    
   
    </div>
<div class="home_display">

        <div class ="home_intro">
            <p class="version">Version zero</p>

            <div class="home_title">
                <h1 class="hello">Hello</h1>
                <h1 class="user_name">{{userName}}</h1>
             </div>
            <h1>welcome To Our Online Shopping Demo Application</h1>
            <p class="intro_sub">
                Our exceptional online shopping application offers exclusive access to an extensive array of premium products. Explore diverse collections of cutting-edge electronics, trendy fashion, sophisticated home decor, exquisite beauty essentials, captivating toys, and much more, all meticulously handpicked to elevate your shopping experience and provide unparalleled satisfaction.
                </p>
                <button mat-raised-button color = "primary" class="out"  (click)="signOut()">
                    
                    <div style="display: flex;">
                        Back to landing page
                        <mat-icon style="padding-left: 10px;">arrow_right_alt</mat-icon>
                    </div>
                 </button>
        </div>
    <img
    class = "home_img"
        src="assets/images/home_page.png"/> 
</div>

<div class="process">
    <div class="process_info">
         <img class = "process_img"
        src="assets/images/mobile_application.png"
    /> 
    <p class="process_text">Browse and shop anytime, anywhere, and enjoy a user-friendly interface designed to enhance your shopping journey.</p>

    </div>

   <div class="process_info">
     <img
        class = "process_img"  src="assets/images/payment.png"
    />
    <p class="process_text">Experience secure and hassle-free payments. Our platform ensures that your transactions are safe and protected</p>
   </div>
   <div class="process_info">
     <img class = "process_img" src="assets/images/delivery_page.png"/> 
     <p class="process_text">Relish the excitement of timely deliveries right to your doorstep. Our efficient delivery system guarantees that your orders reach you in perfect condition.</p>
   </div>
</div>

<div class="product_list">
    <app-products-display ></app-products-display>
</div>

<div class="shopping_cart_diplay">
    <app-shopping-cart></app-shopping-cart>
</div>
    

    